ion-view.status(view-title='Status')
  ion-content
    table
      tr
        th Project
        th Index
        th Status
      tr(ng-repeat="item in tableItems track by $index")
        td(ng-bind="item.project")
        td(ng-bind="item.index")
        td(ng-bind="item.status" ng-class="{'highlight':item.highlight}")



